---
// Internal
import getDataFromDato from "../../assets/scripts/client";
import { blogIndexSlugsQuery } from "../../assets/scripts/queries";
import { singlePostQuery } from "../../assets/scripts/queries";

// Component Imports
import Base from "../../layouts/Base.astro";
import StructuredText from "../../components/atomics/StructuredText.astro";
import Image from "../../components/atomics/Image.astro";

// Data
export async function getStaticPaths() {
  const { allPosts } = await getDataFromDato(blogIndexSlugsQuery);

  const paths = allPosts.map((post) => ({
    params: {
      postSlug: post.slug,
    },
  }));

  return paths;
}

const { postSlug } = Astro.params;
const { post } = await getDataFromDato(singlePostQuery, postSlug);

const title = post.title;

const defaultImage = {
  url: "https://www.datocms-assets.com/66491/1651977048-okupter-og-image.png",
  alt: "Okupter default OG image",
};

const seoMetatags = {
  title: post.seoMetatags.title || title,
  description: post.seoMetatags.description || title,
  image: post.seoMetatags.image || defaultImage,
};
---

<Base
  {title}
  ogImage={seoMetatags.image.url}
  description={seoMetatags.description}
>
  <article class="space-y-12">
    <h1>{post.title}</h1>
    <Image
      src={seoMetatags.image.url}
      alt={seoMetatags.image.alt}
      width="770"
      height="400"
      notLazy
    />
    <div class="space-y-6 post-content">
      <StructuredText value={post.content} />
    </div>
  </article>
</Base>
