---
// Internal
import getDataFromDato from "../../assets/scripts/client";
import { blogIndexQuery } from "../../assets/scripts/queries";

// Utils
import { readableDate } from "../../assets/scripts/utils";

// Components import
import Base from "../../layouts/Base.astro";

// Data
const title = "Archives";
const { allPosts } = await getDataFromDato(blogIndexQuery);

let uniqueYears = [...new Set(allPosts.map((post) => post._firstPublishedAt.split("-")[0]))];

let postCount = uniqueYears.map((year) => {
  let count = 0;
  allPosts.forEach((post) => {
    if (post._firstPublishedAt.split("-")[0] === year) {
      count++;
    }
  });
  return { year, count };
});
---

<Base {title}>
<div class="space-y-12">
  <h1>Archives</h1>
  <div class="space-y-8">
    {
      uniqueYears.map((year) => {
        return (
          <div class="flex flex-col space-y-4 sm:flex-row sm:space-y-0 sm:space-x-12">
            <div class="flex space-x-2">
              <h2>{year}</h2>
              <span class="text-base font-bold text-gray-500">{postCount.find((post) => post.year === year).count}</span>
            </div>
            <div class="space-y-4">
              {
                allPosts.filter(post => post._firstPublishedAt.split("-")[0] === year).map(post => {
                  return (
                    <div class="space-y-2">
                      <h3 class="font-medium">
                        <a href={`archives/${post.slug}`} class="no-underline">{post.title}</a>
                      </h3>
                      <p class="text-base text-gray-700">{post.seoMetatags.description}</p>
                      <div class="text-sm text-gray-500">
                        <span>{readableDate(post._firstPublishedAt)}</span>
                      </div>
                    </div>
                  )
                })
              }
            </div>
          </div>
        )
      })
    }
  </div>
</div>
</Base>
